/* Importing Google fonts */
@import url("https://fonts.googleapis.com/css?family=Lora:400,700|Roboto:300,400,700");

/* Importing component files */
@import url("components/avatar.css");
@import url("components/banner.css");
@import url("components/container.css");
@import url("components/cards.css");
@import url("components/footer.css");


/* General style rules for fonts and colors */
body {
  font-family: 'Lora', serif;
  font-size: 18px;
  margin: 0px;
}
h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  position: relative;
}
a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 800px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 100px) and (max-width: 575px) {
  // CSS for this breakpoint
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
   // CSS for this breakpoint
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
   // CSS for this breakpoint
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
   // CSS for this breakpoint
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
   // CSS for this breakpoint
}